
  .formContainer {
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 1000px;
    margin: 12rem auto 2rem;
  }
  
  .formHeading {
    font-size: 1.47rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #4a5568;
  }
  
  .formGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  .formLabel {
    display: block;
    color: #718096;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .formInput {
    width: 87%;
    padding: 0.5rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: #718096;
  }
  
  .formInput:focus {
    color: black;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.9rem;
    display: none;
  }
  
  @media (max-width: 768px) {
    .formGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .formGrid {
      grid-template-columns: 1fr;
    }
  }
  
  .select2Container {
    width: 100% !important;
  }
  