/* Scoped styles for Info2 component */
.info2-container {
    display: grid;
    grid-template-columns: 20% 80%;
    overflow-x: hidden;
  }
  
  .info2-sidebar {
    overflow-y: auto;
  }
  
  .info2-content {
    display: flex;
    flex-direction: column;
    gap: 20px; /* space between components */
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  /* Add more specific styles for your other components if needed */
  